.container{
  margin-top: 5px;
  margin-bottom: 5px;
}
.main-page{
  margin: 40px;
}
.form-style {
  background-color: rgb(22, 40, 53);
  /* color: #fff; */
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container1 {
  background-color: rgb(0, 0, 0);
  padding: 60px 75px;
  border-radius: 5px;
}

.container1 h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}
.container1 a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  /* background: lightblue; */
  padding: 15px;
  font-family: inherit;
  margin-top: 20px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}
.ctrl{
  margin-top: 20px;
}
.ctrl label{
  color: #fff;
}
.btn-style{
  border-radius: 10px;
  padding: 8px 14px;
}
.brand-logo{
  font-size: 2rem;
  margin-right: 1.2rem;
  text-decoration: none;
  color: #fff;
}
.brand-logo:hover{
  color: #fff;
}
.links {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  color: #808080;
}
.links:hover{
  color: #fff;
}